---
http_interactions:
- request:
    method: get
    uri: http://api.cld.me/1H1U0d0M2L0V
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8ff29352fa4e8d16065267051ba3a94a"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-05-18T19:45:16Z","deleted_at":null,"id":29646541,"item_type":"bookmark","name":"http://getcloudapp.com/","private":true,"redirect_url":"http://getcloudapp.com/","remote_url":null,"source":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_8_3) AppleWebKit/537.31 (KHTML, like Gecko)
        Chrome/26.0.1410.65 Safari/537.31","updated_at":"2013-05-18T19:45:16Z","view_counter":1,"href":"http://my.cl.ly/items/29646541","icon":"http://my.cld.me/images/item-types/bookmark.png","subscribed":false,"url":"http://cl.ly/1H1U0d0M2L0V","content_url":"http://cl.ly/1H1U0d0M2L0V","last_viewed_at":"2013-05-18T19:45:18Z"}'
  recorded_at: Mon, 20 May 2013 18:10:40 GMT
recorded_with: VCR 2.4.0
