---
http_interactions:
- request:
    method: get
    uri: http://api.cld.me/3t3Q3t3y171P
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dca00f10930aec658a98a8a43845b9db"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-05-20T16:42:44Z","deleted_at":null,"id":29681790,"item_type":"image","name":"bad.png","private":true,"redirect_url":null,"remote_url":"http://f.cl.ly/items/2S2Z351f120L0F1M203L/bad.png","source":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_8_3) AppleWebKit/537.31 (KHTML, like Gecko)
        Chrome/26.0.1410.65 Safari/537.31","updated_at":"2013-05-20T16:42:44Z","view_counter":1,"href":"http://my.cl.ly/items/29681790","icon":"http://my.cld.me/images/item-types/image.png","subscribed":false,"url":"http://cl.ly/image/3t3Q3t3y171P","content_url":"http://cl.ly/image/3t3Q3t3y171P/bad.png","download_url":"http://cl.ly/image/3t3Q3t3y171P/download/bad.png","thumbnail_url":"http://thumbs.getcloudapp.com/3t3Q3t3y171P","last_viewed_at":"2013-05-20T16:42:50Z"}'
  recorded_at: Mon, 20 May 2013 18:10:40 GMT
- request:
    method: get
    uri: http://f.cl.ly/items/2S2Z351f120L0F1M203L/bad.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 6B611B75E2B486F8
      Last-Modified:
      - Mon, 20 May 2013 16:42:45 GMT
      Etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      Content-Type:
      - image/png
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 20 May 2013 18:10:40 GMT
recorded_with: VCR 2.4.0
