---
http_interactions:
- request:
    method: get
    uri: http://api.cld.me/3D2J1c292Q2h
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"691f2b6d8a1db9325ac1dacf39bcc5dd"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2013-05-18T19:48:20Z","deleted_at":null,"id":29646580,"item_type":"text","name":"Chapter
        1.md","private":true,"redirect_url":null,"remote_url":"http://f.cl.ly/items/1n2p2K1I2a2x3W372Q3T/Chapter%201.md","source":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_8_3) AppleWebKit/537.31 (KHTML, like Gecko)
        Chrome/26.0.1410.65 Safari/537.31","updated_at":"2013-05-18T19:48:20Z","view_counter":1,"href":"http://my.cl.ly/items/29646580","icon":"http://my.cld.me/images/item-types/text.png","subscribed":false,"url":"http://cl.ly/text/3D2J1c292Q2h","content_url":"http://cl.ly/text/3D2J1c292Q2h/Chapter%201.md","download_url":"http://cl.ly/text/3D2J1c292Q2h/download/Chapter%201.md","last_viewed_at":"2013-05-18T19:49:37Z"}'
  recorded_at: Mon, 20 May 2013 18:10:40 GMT
recorded_with: VCR 2.4.0
