---
http_interactions:
- request:
    method: get
    uri: http://api.cld.me/nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: US-ASCII
      string: ! "<!doctype html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n\n
        \   <title>CloudApp &mdash; Not Found</title>\n\n    <link href='/favicon.ico'
        rel='shortcut icon' />\n    <link href=\"/stylesheets/application/error.css\"
        rel=\"stylesheet\" type=\"text/css\" />\n\n    <!--[if lt IE 9]>\n    <script
        src=\"//html5shim.googlecode.com/svn/trunk/html5.js\"></script>\n    <![endif]-->\n
        \ </head>\n\n  <body>\n    <div class=\"wrapper\">\n      <h1>Cloud<em>App</em></h1>\n\n
        \     <h2>Sorry, nothing lives here.</h2>\n\n      <p>\n        Perhaps the
        link you clicked was broken or we messed up.\n      </p>\n    </div>\n  </body>\n</html>\n"
  recorded_at: Mon, 20 May 2013 18:10:40 GMT
recorded_with: VCR 2.4.0
